.cancel-button {
    background-color: red;

}

button, input[type=submit] {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #367fa9;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    color: #fff;
    background-color: #3c8dbc;
    margin: 0.1em;
}


#options-form {
    margin: 1em;

    display: grid;


    grid-template-rows: [ip-label] auto [ip-input] auto [port-label] auto [port-input] auto [notification-tray] auto [save] auto;
}

#options-form input {
    margin: 1em;
}

#options-form label[for=ip] {
    grid-row: ip-label;
}

#options-form #ip {
    grid-row: ip-input;

    justify-self: center;

}

#options-form label[for=port] {
    grid-row: port-label;

}

#options-form #port {
    grid-row: port-input;
    justify-self: center;
}


#options-form #notification-tray {
    grid-row: notification-tray;
    grid-column: 1;

    display: inline;
}

/*#options-form label[for=notifications-checkbox] {*/
/*    grid-row: notification-tray;*/
/*    grid-column: 1;*/
/*}*/

#options-form button {
    grid-row: save;
    justify-self: center;
}